  <Config>
   <Plugins>
      <Lib Name="libInter4Move.so"/>
      <Lib Name="libInter4Rotate.so"/>
      <Lib Name="libInter4Pause.so"/>
      <Lib Name="libInter4Set.so"/>
   </Plugins>
   <Objects>
      <Cube Name="Podstawa1" RGB="20 200 200" Scale="4 1 1" Shift="0.5 0 0" RotXYZ_deg="0 0 0" Trans_m="-1 3 0"/>
      <Cube Name="Podstawa2" RGB="20 20 20" Scale="4 1 1" Shift="0.5 0 0" RotXYZ_deg="0 0 0" Trans_m="5 3 0"/>
      <Cube Name="Podstawa3" RGB="212 0 15" Scale="2 2 2" Shift="0.5 0 0" RotXYZ_deg="0 0 0" Trans_m="8 8 -2"/>
  </Objects>
  </Config>
  
